<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
          crossorigin="anonymous"></script>
</head>
<div class="card myCard" th:fragment="cardFragment (droneBuild)">
  <div class="card-body" th:classappend="${droneBuild.status == 'success'} ? success : fail">
    <h5 class="card-title" th:text="${droneBuild.number}"></h5>
    <p class="card-text" th:text="${droneBuild.status}"></p>
    <p class="card-text" th:text="${droneBuild.author_name}"></p>
    <p class="card-text" th:text="${droneBuild.event}"></p>
    <a class="card-text" th:href="@{${droneBuild.link}}" target="_blank">Changes</a>
    <p class="card-text"><small class="text-muted" th:text="'Build Started: ' +  ${#dates.format(droneBuild.started * 1000, 'dd-MM-yyyy HH:mm:ss')}"></small></p>
  </div>
</div>
</html>

<!--    <td><span th:text="${droneBuild.event}"></span></td>-->
<!--    <td><span th:text="${droneBuild.link}"></span></td>-->
<!--    <td><span th:text="${droneBuild.before}"></span></td>-->
<!--    <td><span th:text="${droneBuild.after}"></span></td>-->
<!--    <td><span th:text="${droneBuild.ref}"></span></td>-->
<!--    <td><span th:text="${droneBuild.source}"></span></td>-->
<!--    <td><span th:text="${droneBuild.target}"></span></td>-->
<!--    <td><span th:text="${droneBuild.author_login}"></span></td>-->
<!--    <td><span th:text="${droneBuild.author_name}"></span></td>-->
<!--    <td><span th:text="${droneBuild.author_email}"></span></td>-->
<!--    <td><img class="avatar" th:src="${droneBuild.author_avatar}"></td>-->
<!--    <td><span th:text="${droneBuild.sender}"></span></td>-->
<!--    <td><span th:text="${droneBuild.started}"></span></td>-->
<!--    <td><span th:text="${droneBuild.finished}"></span></td>-->