<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div class="card myCard shadow" th:fragment="versionsCardFragment (version)">
  <div class="card-body bordered" th:classappend="${version.status}">
    <input th:if="${version?.promotingEnvironment}" class="btn btn-primary" type="button" value="Promote"
           th:data-repo="${version.repo}" th:data-build="${version.droneBuildNumber}" th:data-env="${version.promotingEnvironment}"
           onclick="promote(this.getAttribute('data-repo'), this.getAttribute('data-build'), this.getAttribute('data-env'));"/>
    <hr/>
    <p class="card-text" th:classappend="${version.droneBuildStatus}">
      <a th:text="${version.droneBuildEvent} + ' build #' +  ${version.droneBuildNumber} + ' -> ' + ${version.droneBuildStatus}" target="_blank" th:href="${version.droneBuildLink}"></a>
    </p>
    <p><a class="card-text" th:text="${version.statusMessage}" target="_blank" th:href="${version.diffLink}"></a></p>
    <p class="card-text" th:text="${version.commitMessage}"></p>
    <p class="card-text" th:text="${version.author}"></p>
    <p class="card-text"><small class="text-muted" th:text="'Commit at: ' +  ${version.datetime}"></small></p>
  </div>
</div>
</div>

</html>
