.avatar {
  width: 20px;
  height: 20px;
}

body {
  /*background-image: url("/img/background-paper.jpeg");*/

}

.container{
  /*max-width: 100%;*/
}
.fullwidth{
  max-width: 100%;
}

.myCard {
  margin: 10px;
}

.mySmallCard {
  margin: 3px;
}
.small-padding {
  margin-block-start: 0.25rem;
  margin-block-end: 0.25rem;
  padding: 0.25rem;
}

.success, .identical {
  background-color: lightgreen;
  border: 1px solid darkgreen;
}

.fail, .behind, .ahead, .failure, .killed {
  background-color: red;
  border: 1px solid darkred;
}

.pending, .running {
  background-color: orange;
  border: 1px solid darkorange;
}

.warning {
  background-color: lightgoldenrodyellow;
  border: 1px solid orange;
}