.avatar {
  width: 20px;
  height: 20px;
}

body {
  /*background-image: url("/img/background-paper.jpeg");*/

}

.container{
  max-width: 100%;
}
.fullwidth{
  max-width: 100%;
}

.myCard {
  border-radius: 15px;
  margin: 10px;
}

.mySmallCard {
  border-radius: 5px;
  margin: 1px;
}

.bordered{
  border-radius: 15px;
}

.small-padding {
  margin-block-start: 0.25rem;
  margin-block-end: 0.25rem;
  padding-top: 0;
  padding-bottom: 0;
}

.success, .identical {
  background-color: #A5D6A7;
  border: 1px solid #388E3C;
}

.fail, .behind, .ahead, .killed {
  background-color: #F44336;
  border: 1px solid #B71C1C;
}

.failure{
  background-color: #F57F17;
  border: 1px solid #B71C1C;
}

.pending, .running {
  background-color: #84FFFF;
  border: 1px solid #01579B;
}

.warning {
  background-color: #FFFDE7;
  border: 1px solid #F57F17;
}