<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <div th:replace="fragments/head :: headFragment"></div>
</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>

<hr/>
<div class="container fullwidth">
  <div class="row">
    <div class="col-2 center-block text-center">
      <h5> Repository </h5>
    </div>
    <div class="col center-block text-center">
      <h5> Dev </h5>
    </div>
    <div class="col center-block text-center">
      <h5> Staging </h5>
    </div>
    <div class="col center-block text-center">
      <h5> Prod </h5>
    </div>
    <div class="col center-block text-center">
      <h5> Perf </h5>
    </div>
    <div class="col-6 center-block text-center">
      <h5> Promote </h5>
    </div>
  </div>
  <hr/>
  <div th:each="version : ${versions}">
    <div class="row versionRow">
      <div class="col-2">
        <h5 class="small-padding center-block text-right" th:text="${version.repo}"></h5>
      </div>
      <div class="col">
        <div th:replace="fragments/versionsCardPerf :: versionsCardPerfFragment(${version.dev})"></div>
      </div>
      <div class="col">
        <div th:replace="fragments/versionsCardPerf :: versionsCardPerfFragment(${version.staging})"></div>
      </div>
      <div class="col">
        <div th:replace="fragments/versionsCardPerf :: versionsCardPerfFragment(${version.prod})"></div>
      </div>
      <div class="col">
        <div th:replace="fragments/versionsCardPerf :: versionsCardPerfFragment(${version.perf})"></div>
      </div>
      <div class="col-6">
        <div th:replace="fragments/versionsCardPromote :: versionsCardPromoteFragment(${version.repo}, ${builds.get(version.repo)})"></div>
      </div>
    </div>
  </div>
</div>


<div th:replace="fragments/footer :: footerFragment"></div>
</body>
</html>